@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to the Main test Page</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Test Display</th>
                <th scope="col">Element Display</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Item Title 1</td>
                <td>Item Description 1</td>
            </tr>
            <tr>
                <td>Item Title two</td>
                <td>Item Description II</td>
            </tr>
        </tbody>
    </table>
</div>
