@{
    ViewData["Title"] = "Welcome";
}

<h1 class="display-1">Welcome to the eCommerce website</h1>

<br />

<h4>
    <h2>
        This site serves to demonstrate some MVC concepts
    </h2>
    
    <br />

    <h3>
        among them
    </h3>

    <ul>
        <li> model binding </li>
        <li> Styling </li>
        <li> Database handling </li>
        <li> CRUD functionality </li>
        <li> Model Binding </li>
        <li> Pagination </li>
        <li> and Cookie handling</li>
    </ul>
</h4>