@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to the Main test Page</h1>

<div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Test Display</th>
                    <th scope="col">Element Display</th>
                    <th scope="col">Item Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Item Title 1</td>
                    <td>Item Description 1</td>
                    <td>
                        <img src="https://placehold.co/200" class="img-thumbnail" alt="a placeholder image with a size of 200 pixels">
                    </td>
                </tr>
                <tr>
                    <td>Item Title two</td>
                    <td>Item Description II</td>
                    <td>
                        <img src="https://placehold.co/200" class="img-thumbnail" alt="a placeholder image with a size of 200 pixels">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <br />


    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src= "https://placehold.co/100" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Item 1 Fact</h3>
                <p class="card-text">Lorem Ipsum. The simpsons have aired for 30 years, meaning Homer has been a baby boomer, gen X, and a millenial in that time </p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://placehold.co/100" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Item II Fact</h3>
                <p class="card-text">The first fast and furious movie revolved around stret racing, while in the most recent, they've been to space</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://placehold.co/100" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Item Three Fact</h3>
                <p class="card-text">One Piece has a total of 21,450 pages throughout its 27 year run, beating out the Middle Earth series of Tolkien being only 5,400 pages</p>
            </div>
        </div>

    </div>


    <br />


    <h2>Test Header</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>


    <br />


    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Go to any Item Listed
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Item 1</a></li>
            <li><a class="dropdown-item" href="#">Item II</a></li>
            <li><a class="dropdown-item" href="#">Item Three</a></li>
        </ul>
    </div>

</div>